.steps {

  width: 30%;
  margin: 100px auto;
  background-color: wheat;
  border-radius: 20px;
  box-shadow: 1px 1px 20px black;
  min-height: 170px;
  padding:  20px;

}

.numbers {
  display: flex;
  justify-content: space-between;
}

.numbers div {
  border-radius: 50%;
  padding: 7px 10px;

 
}

.message {
  text-align: center;
  margin: 45px 0px;
  font-weight: 800;
  letter-spacing: 1px;
  font-size: 20px;
}
.buttons {
  display: flex;
  justify-content: space-between;

}

/* ////////////!!!!!!!!!!!!!!! */

/* button {
    border: transparent;
  border-radius: 10px;
  color: white;
  font-weight: 700;
  padding: 5px 8px;
  cursor: pointer;
} */

.active{
  background-color:#7950f2;
  color: white;
}

.app-container {
  border: solid 5px rgb(249, 247, 247);
  position: relative;
}

.btn-close {
  display: block;
  background-color: black;
  position: absolute;
  top: 50px;
  right: 450px;
  font-size: 25px;
  cursor: pointer;
}